# Ignorar el archivo de configuracion local
configuracion_local.sh

# Ignorar la carpeta de archivos_privados
archivos_privados/

# Ignorar los ficheros en bruto de Photoshop y Gimp
*.xcf
*.psd
img/git_logo.xcf
img/GitHub-logo.psd